.ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .limain{
      float: right;
  }
  .aa1{

    display: block;
    color: white;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
      
  }
  .aa{
      padding-left: 30px;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
  .ic{
      margin-left: 5px;
      color: #04AA6D;
      margin-top: 5px;
  }
  .ai{
      color:#04AA6D;
      display:inline-block;
      margin-top: 6px;
  }
  .h11{
      text-align: center;
      padding-top:50px ;
      height: 400px;
      font-size:100px;
      
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }